# Git ignore patterns
# Author: Maxime Petazzoni <mpetazzoni@turn.com>

# Ignore build output
/build/*
/release.properties

# Ignore Javadoc output
/doc/*

# Ignore any eventual Eclipse project files, these don't belong in the
# repository.
/.classpath
/.project
/.settings

# Ignore common editor swap files
*.swp
*.bak
*~
*~
